<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        
    </head>
    <body>
        <h1>About</h1>
        <p>The database contains information on housing prices and various property characteristics. The key features are:
            Price of the house (in numeric value)
            Area of the house (in numeric value)
            Number of bedrooms (in numeric value)
            Number of bathrooms (in numeric value)
            Number of stories (in numeric value)
            Whether the house is located on a main road (yes or no)
            Whether the house has a guest room (yes or no)
            Whether the house has a basement (yes or no)
            Whether the house has hot water heating (yes or no)
            Whether the house has air conditioning (yes or no)
            Number of parking spaces (in numeric value)
            Whether the house is located in a preferred area (yes or no)
            Furnishing status of the house (unfurnished, semi-furnished, or furnished)
            This database provides detailed information on various physical and locational attributes of houses, which can be useful for analyzing housing market trends and factors influencing home prices.
            </p>
    </body>
</html>