<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        
    </head>
    <body>
        <h1>Welcome to my fabulous website!</h1>
        <p>Choose where you want to go:</p>
        <ul>
            <li><a href="{{ url_for('defination') }}">Link To defination page</a></li>
            <li><a href="{{ url_for('about') }}">Link To About page</a></li>
            <li><a href="{{ url_for('data') }}">Link To data collection page</a></li>
            <li><a href="{{ url_for('link') }}">Link To data link page</a></li>
        </ul>
    </body>
</html>